.content {
  padding: 1.5rem;
  background-color: #000;
  color: #ddd;
  text-align: center;
  h2 {
    cursor: url('/img/cursor/text.cur'), text;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    cursor: url('/img/cursor/text.cur'), text;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}