@import url('https://cdn.mcalec.dev/web/css/font/lato.min.css');

p {
  font-family: LatoRegular;
  font-size: 16px;
}

#music-box {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 50px;
  width: auto;
  background-color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  z-index: 10;
}

#music-box.collapsed {
  min-width: auto;
  width: auto;
  padding: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#music-box.collapsed .music-content {
  opacity: 0;
  width: 0;
  visibility: hidden;
}

#music-box.empty {
  width: auto;
  min-width: auto;
}

.music-content {
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 10px;
}

#music-info {
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: url('/img/cursor/text.cur'), text;
  transform: translateY(calc(100% - 22.55px));
}

#music-info:empty {
  display: none;
}

#music, #music-skip, #collapse-toggle {
  width: 40px;
  height: 40px;
  background-size: contain;
  border: none;
  cursor: url('/img/cursor/pointer.cur'), pointer;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#music {
  background: url("https://3kh0.net/svg/play.svg") no-repeat center center;
  z-index: 2;
}

#music.paused {
  background: url("https://3kh0.net/svg/pause.svg") no-repeat center center;
}

#music-skip {
  background: url("https://3kh0.net/svg/skip.svg") no-repeat center center;
  display: none;
}

#collapse-toggle {
  width: 30px;
  height: 20px;
  background: url("/img/arrow1.png") no-repeat center center;
  background-size: contain;
  border: none;
  padding-left: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('/img/cursor/pointer.cur'), pointer;
}

#music-box.collapsed #collapse-toggle {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#music-cover {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: none;
}

@media (max-width: 600px) {
  #music-box {
    width: fit-content;
    max-width: 100%;
    margin: 0 10px 10px 10px;
  }

  #music-box.empty {
    margin: 0 10px 10px 10px;
  }

  #music-box.collapsed {
    transform: translateX(calc(100% - 50px));
  }

  #music-info {
    font-size: 14px;
    max-width: calc(100vw - 50px);
  }

  #music, #music-skip {
    width: 30px;
    height: 30px;
  }

  #collapse-toggle {
    width: 20px;
    height: 20px;
  }
}