@charset "UTF-8";
@import url('/css/loader.css');
@import url('/css/navbar.css');
@import url('/css/bg.css');
@import url('/css/content.css');
@import url('/css/footer.css');
* {margin: 0;padding: 0;box-sizing: border-box;}
::selection {color: #000;background-color: #fff;}
body {
  width: 100%;
  height: 100%;
  cursor: url('/img/cursor/default.cur'), default;
  font-display: auto;
  background-color: #000;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: LatoRegular, Verdana, Geneva, Tahoma, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
h1 {font-family: LatoRegular;}
h1 b {font-family: LatoBold;}
h1 i {font-family: LatoBoldItalic;}
h2 {font-family: LatoRegular;}
h2 b {font-family: LatoBold;}
h2 i {font-family: LatoRegularItalic;}
h3 {font-family: LatoLight;}
h3 b {font-family: LatoRegular;}
h3 i {font-family: LatoLightItalic;}
b {font-family: LatoBold;}
i {font-family: LatoRegularItalic;}
a {
  font-family: LatoRegular;
  cursor: url('/img/cursor/pointer.cur'), pointer;
  color: #ddd;
  text-decoration: underline;
  transition: color 0.3s ease;
}
a:hover {color: #999;}

.text {
  cursor: url('/img/cursor/text.cur'), text;
}

.bannerify {
  width: 100%;
  height: 60%;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  cursor: url('/img/cursor/default.cur'), default;
  border: none;
  position: absolute;
  z-index: 1;
  iframe {
    width: 100%;
    height: 100;
    border: none;
    z-index: inherit;
  }
}