/* CSS STYLES FILE */


/* Fonts */

/* Lato Fonts */
@font-face {
  font-family: Lato;
  src: url(Fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(Fonts/Lato/Lato-Bold.ttf);
}


/* Poppins Fonts */
@font-face {
  font-family: Poppins;
  src: url(Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(Fonts/Poppins/Poppins-Bold.ttf);
}


/* Keyframes */
@keyframes example {
  0%   {background-color: white;}
  25%  {background-color: blue;}
  50%  {background-color: green;}
  100% {background-color: red;}
}


/* Main */
#nav {
  background-image: url(paint.png);
  text-align: center;
  color: transparent;
  font-family: Lato;
  margin: auto;
  padding: 0px 0px 0px 0px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: transparent;
    font-family: LatoBold;
  }

  .active {
    background-color: transparent;
    font-family: LatoBold;
  }
}

#nav1 {
  background-image: url(paint.png);
  text-align: center;
  color: transparent;
  font-family: Lato;
  margin: auto;
  padding: 0px 0px 0px 8px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-left: 0px;
    text-decoration: none;
  }
}


#main {
  background-image: url(paint.png);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center;


  background-size: cover;
  text-align: center;
  color: black;
  font-family: Lato;
  padding-top: 20vw;
  padding-bottom: 20vw;
  margin: auto;
}

#footer {
  background-color: #1c1c1c;
  text-align: center;
  color: white;
  font-family: Lato;
  padding-top: 12px;
  padding-bottom: 30px;
  margin: auto;
  text-decoration: none;
  font-size: medium;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }

  li a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  li {
    display: inline;
  }
}


/* Titles */
h1 {
  color: white;
  text-align: center;
  font-family: LatoBold;
  font-size: xxx-large;
}


button {
  font-family: LatoBold;
  text-align: center;
  height: 50px;
  width: 200px;
  background-color: White;
  border-radius: 150px;
  border: 4px solid Black;
}

html, body {
  margin: 0px;
  margin-top: 0vw;
  padding: auto;
  background: #ffffff url(paint.png) no-repeat fixed center;
  overflow-x: hidden;
  overflow-y: hidden;
}  

button:hover {
  font-family: LatoBold;
  color: White;
  background-color: Black;
  cursor: pointer;
  border-radius: 150px;
  border: 4px solid White;
}


.loader {
  border: 18px solid white;
  border-top: 18px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  float: center;
  animation: spin 0.00001s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Tablets & Phones */
/*
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
*/

/* Computers & Desktops */
/*
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
*/